
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body,
header,
#intro {
    height: 100%;
   background:rgba(180, 169, 106, 0.075);
   color:rgb(83, 78, 78);
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Noto Sans' ,  sans-serif;
}

#intro {
    background: url("./images/photography/aboutmecoverphoto.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    opacity: 0.9;
}


h1, h2, h3, h4, h5, h6 {
  color:  rgba(211, 193, 94, 0.808);
}


hr {
  background-color: rgb(180, 169, 106);
}

/* NAVBAR BRAND FOR EVERY DEVICE SIZE*/
.navbar-brand.d-none.d-lg-block, .navbar-brand.d-lg-none{
  text-transform: uppercase;
  color: rgb(180, 169, 106);
  text-align: center;
}
/* full navbar */
.navbar {
  /* background:rgba(180, 169, 106, 0.075); */
  padding-bottom:10px;
}
/* links in navbar  for every size */
.collapse.navbar-collapse.justify-content-between ul li a {
  color: rgb(180, 169, 106);
}

.navbar.navbar-expand-lg li a{
    color:  rgb(180, 169, 106);
font-size: 1.2rem;
  }

  .navbar-toggler {
    margin-right: 5px;
   }

  /*social link icons */
.fa-facebook, .fa-instagram, .fa-twitter,  .fa-google, .fa-linkedin {
color: black;
padding:8px;
}
   a  {
     color: rgb(97, 96, 96);
   }
   a:hover {
     color: rgb(180, 169, 106);
   }
 
/* ABOUT */
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color:   rgba(180, 169, 106, 0.719);
    margin-top:20px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #0563bb;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  /* BUTTON */
  .btn {
    border: none;
    outline: none;   
    background-color:  rgb(180, 169, 106);
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgba(139, 132, 90, 0.377);
  }
 
  /* CARD */
  .card, .img-fluid {
    background: rgba( 255, 255, 255, 0.10 );
box-shadow: 0 8px 32px 0 rgba(180, 169, 106, 0.719);
backdrop-filter: blur( 7.0px );
-webkit-backdrop-filter: blur( 7.0px );
border-radius: 10px;
  }

  .card {
    border: none;
    padding:5px;
    margin:5px;
    display:flex;
    align-items: center;
    justify-content:center;
}
/* TESTIMONIALS */
.user-content p {
    margin-top: 10px;
    font-size: 12px
}

/* Ratings in testimonials */
.ratings i {
    color:rgba(167,97,221,1);
}


/* form */
.form-select {
  color:rgb(83, 78, 78);
}

.form-control::placeholder {
  color:rgb(165, 165, 165);
  opacity:0.6;
  font-size: 0.9rem;
}

/* FOOTER bg-color AREA */
.backgroundcolor {
  background: rgba(180, 169, 106, 0.534);
}

footer {
   color: rgb(92, 91, 91);
 }

 footer a {
   text-decoration: none;
   color: rgb(179, 20, 179);
 }
 

/* MEDIA QUERY */
@media only screen and (max-width:768px){
  .item-content  {
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
  }
  .btn.btn-primary.filter-button {
    margin:5px;
    font-size: 1.rem;
  }
  #contact {
   padding:5px;
   margin: auto;
  }
/* services cards */
  .mb-5.col-md-6.col-lg-4.d-flex.justify-content-center {
    width: 15rem;
    margin-left:auto;
    margin-right:auto;
  }


}

@media (max-width: 575.99px) {
  .row.text-center.text-lg-left.latestwork { 
margin-left:auto;
margin-right:auto;
display:block;
max-width:270px;  
  }

  .navbar-brand.d-lg-none {
    padding-left: 20px;
    font-size: 1rem;
      }

  #navbarSupportedContent {
    padding-left: 20px;
    font-size: 1rem;
  }

  .navbar-toggler-icon {
    width: 20px !important;
    height:30px !important;
  }
  
  .my-3.pt-3.text-left {
    padding:  0 25px; 
  }

  .aboutme {
    text-align: left;
  }


.col-md-8.px-5.text-left.content p {
 padding-bottom:20px;
}

.col-md-6.contact  {
  text-align: left;
  padding-left:13px;
  font-size: 0.9rem;
}

.button.d-flex.justify-content-center.my-5.md-6 {
margin-right: 20px;
}

.mt-2.hr {
  margin-bottom:40px;
}

.mt-2.hr.services {
  margin-bottom: -30px;
}

.card {
margin: 0 40px -60px;
}

.container-fluid.my-5.testimonials h3 {
padding-top:10px;
}

.card.p-3.text-center.px-4 {
  margin: 15px 0;
}

.text-center.justify-content-center.w-responsive.col.p-5 {
margin: 0 -70px;
}

#contact h3 {
  padding-top:10px;
}

#contact-form {
  margin: 0 -70px;
}
.md-6.followme {
  text-align: center;
}

#me { 
  display: block;
  margin-left:auto;
  margin-right: auto;
        max-width: 250px;
        border-radius: 50px;
    }

}



@media (max-width: 767.99px) {

  .content {
    text-align: center;
  }

  .img-fluid.img {
    width:100%;
  }
}


@media (min-width: 576px) and (max-width: 767.99px) { 

.col-md-8.px-5.text-left.content {
 padding:  0 -20px; 
/* text-align: left;  */
}
.col-md-6.contact ul li{
text-align: left;
}

#me { 
  display: block;
  margin-left:auto;
  margin-right: auto;
        max-width: 300px;
        border-radius: 50px;
    }

.navbar-brand.d-lg-none {
  padding-left: 20px;
  font-size: 1rem;
    }

#navbarSupportedContent {
  padding-left: 20px;
  font-size: 1rem;
}

.navbar-toggler-icon {
  width: 20px !important;
  height:30px !important;
}


.col-md-6.contact {
padding-top:50px;
}

.h1-responsive.font-weight-bold.text-center.col-md.mb-3 {
font-size: 1.5rem;
}
.text-center.letsdothis {
  font-size: 1.3rem;
}

.text-center.justify-content-center.w-responsive.col.p-5  {
margin: 0 -80px;
}

.mt-2.mb-5.testimonials {
margin: 0 120px;
}
.col-md-6.contact, .aboutme {
  margin: 0 -50px;

}
.img-fluid {
  margin: 30px 0 20px;
}


/* about me */
.my-3.pt-3.text-left.about {
margin: 0 -50px;
}

.row.text-center.text-lg-left.latestwork {
padding-top:50px;
}

#contact-form {
  margin: 0 -80px;
}
.luke-testimonials {
  margin-bottom: 34px;
}
.aboutme {
  text-align: left;
  padding: 0 -20px;
}

.button.d-flex.justify-content-center.my-5.md-6 {
margin-left:20px;
}

.mt-2.hr{
  margin-bottom: -30px;
}
.button.d-flex.justify-content-center.sm-6 {
margin-bottom: -90px;
}

}

  @media (min-width: 768px) and (max-width: 991.98px) {
  #contact {
    padding: 0 50px;
  }

  .luke-testimonials {
    margin-bottom: 35px;
  }

  .img-fluid {
    margin-top:75px;
  }

  .btn.btn-success.btn-send {
    float:right; 
    font-size: 1rem;
  }

  #intro {
    background-size: auto 120%;   
  }
  
  .mt-2.hr{
    margin-bottom: -30px;
  }

  .mt-2.mb-5.testimonials {
    margin: 0 130px;
    }

   .md-6.followme {
margin-bottom: -50px;
   }

  .row.text-center.text-lg-left.latestwork {
   margin: 20px 0;
  }

  .navbar-brand.d-lg-none {
    padding-left: 20px;
    font-size: 1rem;
      }
  
  #navbarSupportedContent {
    padding-left: 20px;
    font-size: 1rem;
  }
  
  .navbar-toggler-icon {
    width: 20px !important;
    height:30px !important;
  }

  }
  
  @media (min-width: 992px) and (max-width: 1199.98px)  { 
 
    #intro {
      background-size: auto 130%;   
    }
   
.mt-2.hr.latestwork {
margin-bottom: 60px;
}
  

  .mt-2.mb-5.testimonials {
    margin: 0 120px;
    }
  }
  
  @media (min-width: 1200px)   { 

    .mt-2.mb-5.testimonials {
      margin: 0 70px;
      }
      .mt-2.hr.latestwork {
        margin-bottom: 60px;
        }

        #intro {

          background-size: auto 130%;   
        }
      }
   